h1 {
  text-align: center;
  color: #089525;
  font-family: Verdana;
}
div.nav {
  line-height: 0;
  overflow: hidden;
  height: 50px;
  background-color: green;
}
p {
  color: #066418;
  font-family: "Lucida Grande";
}
iframe {
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: block;
}
