h1 {
  text-align: center;
  color: #089525;
  font-family: Verdana;
}
div.nav {
  line-height: 0;
  overflow: hidden;
  height: 50px;
}
p {
  color: #066418;
  font-family: "Lucida Grande";
}
iframe {
  display: block;
}
