h1 {
  text-align: center;
  color: #089525;
  font-family: Verdana;
  margin: 8px;
}
div.nav {
  line-height: 0;
  overflow: hidden;
  height: 40px;
  background-color: green;
  margin: 0px;
}
p, ul li {
  color: #066418;
  font-family: "Trebuchet MS";
  margin: 8px;
  margin-left: 16px;
  margin-right: 12px;
}
iframe {
  width: 100%;
  height: 105px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: block;
  overflow: hidden;
}
iframe::-webkit-scrollbar {  
    display: none;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}
form {
  color: #066418;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
}
img.entry {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
#images {
  text-align: center;
}
h3.entry {
  color: #888888;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  text-align: center;
}
textarea#styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}
div.navbar {
  background-color: green;
  height: 40px;
  line-height: 40px;
}
h3.navbar, a.navbar {
  color: #66ff99;
  font-family: "Lucida Grande";
  text-decoration: none;
  margin-bottom: 4px;
}
form.navbar {
  display: inline-block;
}
h1.navbar {
	margin-top: 2px;
}
h3 {
  color: #006418;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  margin-left: 12px;
}
table {
	color: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande";
  margin-left: 16px;
  line-height: 100%;
}
